.minimal #taskbar a,
#taskbar a {
    color: #e9e7e0;
}

.minimal #taskbar a.button-selected,
#taskbar a.button-selected {
    border-bottom: 2px solid #262626;
}

.minimal #topline,
#topline {
    background: #c4a006 none repeat scroll 0 0;
}

#topnav,
.listbox .listitem.selected,
.listbox .tablink.selected,
.listbox .listitem.selected > a,
.listbox .tablink.selected > a,
.listing tbody tr.selected td,
.listing li.selected,
.listing li.selected > a,
#directorylist li.addressbook.selected > a {
    background-color: #c4a006;
}

#topnav {
    background-image: url('images/Logo Small White@4x.png');
    background-size: 30px;
    background-position: 16px center;
    box-shadow: none;
}

#login-form .box-inner {
    background: rgba(0, 0, 0, 0.7) url('images/Logo Small@4x.png') no-repeat scroll center 30px;
    background-size: 80px;
    border-radius: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input.button:focus,
textarea:focus,
select:focus,
#quickaddinput:focus {
    background-image: linear-gradient(#c49f07, #c49f07), linear-gradient(#d2d2d2, #d2d2d2);
}

body {
    background: #c4a006 none no-repeat scroll center top;
}

body.minwidth,
body.noscroll {
    background: #ccc url('images/Logo Small@4x.png') no-repeat scroll center top;
    background-size: 80px;
}

/**
 * Buttons
 */
#topline .topleft a.about-link,
#topline .topleft a.support-link,
#bottomline a.support-link {
    display: none;
}

#topline a.button-logout {
    color: #e9e7e0;
}

/**
 * Other
 */
#bottomline {
    display: none;
}

#mailview-right,
#composeheaders {
    background: none;
}

#messagestack .notice {
    background-color: #c4a006;
}